https://pypi.org/project/finvizfinance/

In [60]:
import requests
from finvizfinance.quote import finvizfinance

stock = finvizfinance('tsla')

In [61]:
chart_url = stock.ticker_charts()

In [22]:
stock.ticker_news()

,Date,Title,Link
0,2024-03-02 05:00:00,2 Cheap Growth Stocks to Buy Before They Soar ...,https://finance.yahoo.com/m/13117efc-d1ab-3ddb...
1,2024-03-01 18:45:00,UPDATE 2-Lawyers who voided Elon Musk's pay as...,https://finance.yahoo.com/news/1-lawyers-voide...
2,2024-03-01 18:00:00,Lawyers who voided Elon Musk's pay as excessiv...,https://finance.yahoo.com/news/legal-team-void...
3,2024-03-01 18:00:00,Lawyers Who Got Musk Pay Struck Down Seek $5.6...,https://finance.yahoo.com/m/8e182f3c-2576-3a2c...
4,2024-03-01 17:51:00,Legal team who voided Musk's Tesla pay seek fe...,https://finance.yahoo.com/news/legal-team-void...
...,...,...,...
95,2024-02-28 08:12:00,"Italy in talks with Tesla, other manufacturers...",https://finance.yahoo.com/news/italy-talks-tes...
96,2024-02-28 07:55:00,"Only 3 of the ""Magnificent Seven"" Stocks Have ...",https://finance.yahoo.com/m/39cfc0a7-4240-3b78...
97,2024-02-28 06:43:00,"Apple Missed With Its Car Project, Why AI Move...",https://finance.yahoo.com/m/a0a5571d-09d7-31c9...
98,2024-02-28 06:40:00,TSLA Stock: Don't Expect a Fast Charge With Te...,https://investorplace.com/2024/02/tsla-stock-d...
99,2024-02-28 06:15:00,Don't Buy EV Stocks (Including Tesla) Until Yo...,https://finance.yahoo.com/m/e87750d5-24e8-362d...

In [23]:
stock.ticker_inside_trader()

,Insider Trading,Relationship,Date,Transaction,Cost,#Shares,Value ($),#Shares Total,SEC Form 4,SEC Form 4 Link,Insider_id
0,DENHOLM ROBYN M,Director,Feb 21,Option Exercise,23.17,93706.0,2171168.0,108706.0,Feb 23 06:52 PM,http://www.sec.gov/Archives/edgar/data/1242782...,1242782
1,DENHOLM ROBYN M,Director,Feb 21,Sale,194.73,93706.0,18247018.0,15000.0,Feb 23 06:52 PM,http://www.sec.gov/Archives/edgar/data/1242782...,1242782
2,Taneja Vaibhav,Chief Financial Officer,Dec 14,Option Exercise,18.22,4000.0,72880.0,108930.0,Dec 18 07:17 PM,http://www.sec.gov/Archives/edgar/data/1318605...,1771340
3,Taneja Vaibhav,Chief Financial Officer,Dec 14,Sale,250.00,4000.0,1000000.0,104930.0,Dec 18 07:17 PM,http://www.sec.gov/Archives/edgar/data/1318605...,1771340
4,Baglino Andrew D,SVP Powertrain and Energy Eng.,Dec 06,Sale,244.34,1298.0,317279.0,69390.0,Dec 07 08:24 PM,http://www.sec.gov/Archives/edgar/data/1318605...,1790565
...,...,...,...,...,...,...,...,...,...,...,...
64,Taneja Vaibhav,Chief Accounting Officer,Mar 06,Sale,195.79,2466.0,482718.0,100458.0,Mar 07 07:57 PM,http://www.sec.gov/Archives/edgar/data/1318605...,1771340
65,Baglino Andrew D,SVP Powertrain and Energy Eng.,Mar 06,Sale,195.79,1298.0,254232.0,65547.0,Mar 07 08:01 PM,http://www.sec.gov/Archives/edgar/data/1318605...,1790565
66,Baglino Andrew D,SVP Powertrain and Energy Eng.,Mar 05,Option Exercise,0.00,2586.0,0.0,66845.0,Mar 07 08:01 PM,http://www.sec.gov/Archives/edgar/data/1318605...,1790565
67,Kirkhorn Zachary,Chief Financial Officer,Mar 05,Option Exercise,0.00,16867.0,0.0,213528.0,Mar 07 07:58 PM,http://www.sec.gov/Archives/edgar/data/1318605...,1771364
68,Taneja Vaibhav,Chief Accounting Officer,Mar 05,Option Exercise,0.00,7138.0,0.0,102923.0,Mar 07 07:57 PM,http://www.sec.gov/Archives/edgar/data/1318605...,1771340

In [24]:
from finvizfinance.news import News

fnews = News()
all_news = fnews.get_news()

In [26]:
all_news['news']

,Date,Title,Source,Link
0,06:44AM,What You Need to Know for the 2024 Tax Season,www.nytimes.com,https://www.nytimes.com/2024/03/02/business/ta...
1,05:29AM,Indian shares hit new highs in special Saturda...,www.reuters.com,https://www.reuters.com/markets/asia/indian-sh...
2,05:08AM,Turkey's Feb exports to Russia down 34% from y...,www.reuters.com,https://www.reuters.com/world/turkeys-feb-expo...
3,04:43AM,Oil Trader With â€˜History of Misconductâ€™ Took Y...,www.bloomberg.com,https://www.bloomberg.com/news/articles/2024-0...
4,04:24AM,Mega Millions jackpot rises to $650M after no ...,foxbusiness.com,https://foxbusiness.com/economy/mega-millions-...
...,...,...,...,...
85,Mar-01,Oil Hits $80 for First Time Since November as ...,www.bloomberg.com,https://www.bloomberg.com/news/articles/2024-0...
86,Mar-01,Yenâ€™s Carry-Trade Reign Is in Flux as BOJ Hint...,www.bloomberg.com,https://www.bloomberg.com/news/articles/2024-0...
87,Mar-01,Investment expert Mark Mahaney reveals his lon...,video.foxbusiness.com,https://video.foxbusiness.com/v/6348007781112
88,Mar-01,"Post Office staff may have broken law, say law...",www.bbc.co.uk,https://www.bbc.co.uk/news/business-68449253
89,Mar-01,Stocks rise to build on record-setting rally,finance.yahoo.com,https://finance.yahoo.com/news/stock-market-to...

In [27]:
from finvizfinance.calendar import Calendar

In [28]:
calendar = Calendar()

In [31]:
calendar.calendar()

Empty DataFrame
Columns: []
Index: []

In [32]:
from finvizfinance.future import Future
fututre = Future()

In [34]:
fututre.performance(timeframe='Q')

   ticker            label       group   perf
0      CC            Cocoa       SOFTS  52.95
1     NKD       Nikkei 225     INDICES  20.28
2      CT           Cotton       SOFTS  19.46
3      FC    Feeder Cattle       MEATS  17.73
4      LH        Lean Hogs       MEATS  14.17
5      NQ       Nasdaq 100     INDICES  12.85
6      ES          S&P 500     INDICES  10.43
7      EX    Euro Stoxx 50     INDICES  10.18
8     ER2     Russell 2000     INDICES   9.87
9      LC      Live Cattle       MEATS   9.61
10     QA  Crude Oil Brent      ENERGY   8.57
11     RB    Gasoline RBOB      ENERGY   7.96
12     CL    Crude Oil WTI      ENERGY   7.79
13     DY              DAX     INDICES   7.06
14     YM             DJIA     INDICES   6.58
15     HO      Heating Oil      ENERGY   6.01
16     ZR       Rough Rice      GRAINS   4.80
17     LB           Lumber       SOFTS   4.45
18     ZB     30 Year Bond       BONDS   1.59
19     KC           Coffee       SOFTS   1.57
20     DX              USD  CURRENCIES   0.99
21     ZN     10 Year Note       BONDS  -0.15
22     ZO             Oats      GRAINS  -0.27
23     6B              GBP  CURRENCIES  -0.42
24     ZT      2 Year Note       BONDS  -0.42
25     ZF      5 Year Note       BONDS  -0.48
26     6C              CAD  CURRENCIES  -0.63
27     6E              EUR  CURRENCIES  -0.69
28     GC             Gold      METALS  -0.82
29     6N              NZD  CURRENCIES  -1.56
30     HG           Copper      METALS  -2.42
31     6A              AUD  CURRENCIES  -2.46
32     6S              CHF  CURRENCIES  -2.52
33     6J              JPY  CURRENCIES  -3.64
34     PA        Palladium      METALS  -5.67
35     PL         Platinum      METALS  -5.99
36     ZW            Wheat      GRAINS  -7.03
37     JO     Orange Juice       SOFTS  -8.37
38     SI           Silver      METALS -10.49
39     ZK          Ethanol      ENERGY -13.47
40     ZL      Soybean oil      GRAINS -13.54
41     ZS         Soybeans      GRAINS -14.13
42     SB            Sugar       SOFTS -14.15
43     ZC             Corn      GRAINS -14.77
44     ZM     Soybean Meal      GRAINS -15.79
45     RS           Canola      GRAINS -16.69
46     VX              VIX     INDICES -19.88
47     NG      Natural Gas      ENERGY -24.19

In [37]:
from finvizfinance.screener.overview import Overview

foverview = Overview()
filters_dict = {'Index':'S&P 500','Sector':'Basic Materials'}
foverview.set_filter(filters_dict=filters_dict)
df = foverview.screener_view()

C:\Users\user\Documents\Programing\PycharmProjects\Jlab\.venv\lib\site-packages\finvizfinance\screener\overview.py:203: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat([df, pd.DataFrame(frame)], ignore_index=True)

# Alpha Advantage

O5Q970PI6CL13IK4

In [56]:
import pandas as pd

In [46]:
apikey = "O5Q970PI6CL13IK4"

In [49]:
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=IBM&apikey={apikey}'
r = requests.get(url)
data = r.json()

In [58]:
pd.DataFrame(data['Time Series (Daily)']).T

             1. open   2. high    3. low  4. close 5. volume
2024-03-01  185.4900  188.3800  185.1800  188.2000   4018354
2024-02-29  186.1500  186.8495  184.6900  185.0300   6458487
2024-02-28  184.6300  185.3700  183.5500  185.3000   3216345
2024-02-27  184.1600  185.1300  182.6200  184.8700   3641378
2024-02-26  185.6000  186.1250  184.0600  184.1300   4620815
...              ...       ...       ...       ...       ...
2023-10-13  139.7700  140.1200  138.2700  138.4600   4583553
2023-10-12  142.5100  142.9300  140.9500  141.2400   3921142
2023-10-11  142.5100  143.3400  142.1400  143.2300   2511459
2023-10-10  142.6000  143.4150  141.7200  142.1100   3015784
2023-10-09  142.3000  142.4000  140.6800  142.2000   2354396

[100 rows x 5 columns]